* {
  font-family: Segoe, sans-serif;
}

div {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
button {
  margin: 0px 15px 5px;
  padding: 10px 40px;
  background-color: lightGrey;
  border: 1px solid grey;
  border-radius: 5px;
}
button:hover {
  background-color: lightGrey;
}

#video-button {
  margin-top: 5px;
}