body {
				background-color: black;
}
video {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
				width: 100%;
				height: auto;
}
#gambar1 {
				position: relative;
				left: 15px;
				bottom: 10px;
				border-radius: 8px ;
				width: 100px;
				height: 34px;
}
#div1 {
				position: absolute;
				top: 0px;
				bottom: 515px;
				right: 0px;
				left: 0px;
				margin: auto;
				background-color: transparent;
				height: 0px;
}
.time {
				margin: 0;
				padding: 0;
}
.date {
				margin: 0;
				padding: 0;
}
#clock {
				font-family: "Share Tech Mono", monospace;
				color: #ffffff;
				text-align: center;
				position: absolute;
				left: 50%;
				top: 50%; 
				transform: translate(-50%, -50%);
				color: #daf6ff;
				background-color: transparent;
				text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.01em;
  font-size: 13px;
  padding: 2px 0;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 13px;
}
.controls {
				text-align: center;
				position: relative;
				top: 473px;
				background-color: transparent;
				height: 0px;
}
button {
				border: 1px transparent solid;	
				color: red;
				background-color: transparent;
				font-size: 8px;
}
