/* #player { width: 100vh !important; height: auto; }  */

.vjs-icon-previous-item:before, .vjs-icon-next-item:before { font-size: 2em; }

/* Show [current time] / [total time] */
.video-js .vjs-time-control   { display: block; } 

/* Hide negative, remaining time */
.video-js .vjs-remaining-time { display: none; }  

/* Other control chars: ‹‹ ❘◀️⏪⏩▶️❘ ›› ▶ */