body {
  max-width: 600px;
  width: 100%;
  color: #fff;
  background-color: #000;
  --plyr-color-main: red; /*Custom player color*/
}

.container {
  text-align: center;
  width: 100%;
  
}
.video-section {
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  margin-bottom: 0em;
  overflow: hidden;
}

.video-responsive {
  padding-bottom: 56.25%;
}
#Pplayer {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

#my-player {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

#vjs-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height:100%;
  width: 100%;
  border: 0;
}
.plyr__video-wrapper::after {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  content: '';
  height: 35px;
  width: 35px;
  background: url('https://raw.githubusercontent.com/donelfantastic/donelfantastic.github.io/main/assets/donelfantastic_wlogo.png') no-repeat;
  background-size: 40px, auto, auto;100%;

}